.players {
  display: flex;
  flex-wrap: wrap;
}
.player_buttons {
  padding: 20px;
}
table {
  text-align: right;
}
td {
  padding: 1px;
}
#current_score {
  height: 300px;
}
.scores {
  position: relative;
}
